:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  max-width: 1200px;
  margin: auto;
  padding: 10px;
  min-height: 100vh;
  background-color: #131315;
  color: #fff;
}

* {
  padding: 0;
  negative: 0;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
}

